Checks: >
  clang-analyzer-*,
  bugprone-*,
  performance-*,
  readability-*,
  modernize-*,
  -modernize-macro-to-enum,
  -modernize-return-braced-init-list,
  -modernize-use-auto,
  -modernize-use-using,
  -modernize-use-trailing-return-type,
  -modernize-use-nodiscard,
  cppcoreguidelines-*,
  concurrency-*,
  misc-*,
  portability-*,
  -fuchsia-*,
  -google-*,
  -llvm-header-guard

WarningsAsErrors: '*'
HeaderFilterRegex: '^(?!.*(?:/fusion/src/Fusion/cpu/simd/|/fusion/src/benchmarks/)).*/fusion'
FormatStyle: none
