name: Nova Cross-Platform Build

on:
  pull_request:
    branches: [ main, dev ]
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-latest
          - macos-latest
          - windows-latest

    uses: ./.github/workflows/build.yaml
    with:
      os: ${{ matrix.os }}
      python: '3.13'
