name: Integration Tests

on:
  pull_request:
    branches: [ main ]
  push:
    branches: [ main, feature/docs-update ]
  workflow_dispatch:

jobs:
  build:
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest]
    uses: ./.github/workflows/build.yaml
    with:
      os: ${{ matrix.os }}
      python: '3.13'


  integration:
    needs: build
    runs-on: ${{ matrix.os }}

    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest]
        path:
          - tests/integration/gradient/finite_difference
          - tests/integration/gradient/pytorch

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: '3.13'

      - name: Linux deps
        if: runner.os == 'Linux'
        run: |
          sudo apt-get update
          sudo apt-get install -y --no-install-recommends \
            libopenblas-dev liblapack-dev

      - uses: actions/download-artifact@v4
        with:
          name: nova-build-${{ runner.os }}
          path: nova/src/backend/core/clib

      - name: Install Poetry
        run: |
          python -m pip install --upgrade pip
          python -m pip install poetry==2.0.1

      - run: python -m poetry install --no-interaction --no-ansi

      - name: Set PYTHONPATH
        run: |
          echo "PYTHONPATH=$PWD/nova/src/backend/core/clib:$PWD" >> $GITHUB_ENV

      - name: Run integration tests
        run: python -m poetry run pytest -v ${{ matrix.path }}
