name: Nova Smoke Tests

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:

jobs:
  smoke:
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]

    uses: ./.github/workflows/build.yaml
    with:
      os: ${{ matrix.os }}
      python: '3.13'
