name: Unit Tests

on:
  pull_request:
    branches: [ main ]
  push:
    branches: [ main, feature/docs-update ]
  workflow_dispatch:

jobs:
  build:
    uses: ./.github/workflows/build.yaml
    with:
      os: ubuntu-latest
      python: '3.13'

  unit:
    needs: build
    runs-on: ubuntu-latest

    strategy:
      matrix:
        path:
          - tests/unit/tensor
          - tests/unit/activations

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: '3.13'

      - uses: actions/download-artifact@v4
        with:
          name: nova-build-ubuntu-latest
          path: nova/src/backend/core/clib

      - name: Install Poetry
        run: |
          python -m pip install --upgrade pip
          python -m pip install poetry==2.0.1

      - run: python -m poetry install --no-interaction --no-ansi

      - run: |
          echo "PYTHONPATH=$PWD/nova/src/backend/core/clib:$PWD" >> $GITHUB_ENV

      - run: python -m poetry run pytest -v ${{ matrix.path }}
