name: Nova Unit Tests

on:
  pull_request:
    branches: [ main, dev ]
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build:
    uses: ./.github/workflows/build.yaml
    with:
      os: ubuntu-latest
      python: '3.13'

  unit:
    needs: build
    runs-on: ubuntu-latest

    strategy:
      matrix:
        path:
          - tests/unit/tensor
          - tests/unit/activations

    steps:
      - uses: actions/checkout@v4

      - uses: actions/download-artifact@v4
        with:
          name: nova-build-ubuntu-latest
          path: nova/src/backend/core/clib

      - uses: snok/install-poetry@v1
        with:
          version: 1.8.3
          virtualenvs-in-project: true

      - run: poetry install --no-interaction --no-ansi

      - run: |
          echo "PYTHONPATH=$PWD/nova/src/backend/core/clib:$PWD" >> $GITHUB_ENV

      - run: poetry run pytest -v ${{ matrix.path }}
